.cart {
  &-details {
    width: 100%;
    margin-top: 2em;
    display: grid;
    place-items: start;
    grid-template-columns: 2fr 1fr;

    &-products {
      display: "flex";
      flex-direction: "column";
      justify-content: "start";
      align-items: "center";
    }
  }
}
