@use "../base/breakpoints" as *;

.genre {
  position: relative;

  &-image {
    height: 600px;
  }

  &-image-color {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0.7;
  }

  &-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5em;

    &-name {
      color: var(--color-white);
      font-size: calc(var(--text-3xl) * 1.5);
      margin: 0;
      line-height: 1;
    }

    &-details {
      color: var(--color-hero);
      font-size: var(--text-md);
    }

    &-link {
      padding: 0.5em;
      text-decoration: none;
      color: var(--color-white);
      background-color: var(--color-primary);
      cursor: pointer;
    }

    &-button:hover {
      opacity: 0.9;
    }
  }
}

@include breakpoint(lg) {
  .genre {
    &-image {
      height: 500px;
    }
  }
}

@include breakpoint(md) {
  .genre {
    &-image {
      height: 400px;
    }
    &-info {
      margin-left: 3em;

      &-name {
        font-size: var(--text-2xl);
      }

      &-details {
        font-size: var(--text-sm);
      }

      &-link {
        font-size: var(--text-sm);
      }
    }
  }
}

@include breakpoint(sm) {
  .genre {
    &-image {
      height: 300px;
    }

    &-info {
      margin-left: 1em;

      &-details {
        font-size: calc(var(--text-sm) / 1.1);
      }
    }
  }
}
