@use "../base/breakpoints" as *;

.svgColor {
  color: var(--color-neutral);
}

.svgFill {
  fill: var(--color-neutral);
}

.line {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      color: var(--color-neutral);

      p {
        font-size: var(--text-xs);
      }
    }
  }
}

@include breakpoint(xl) {
  .line {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2em;

    &-item {
      justify-content: start;
    }
  }
}

@include breakpoint(md) {
  .line {
    grid-template-columns: 1fr;
  }
}

@include breakpoint(sm) {
  .line {
    &-item {
      flex-direction: column;

      &-info {
        align-items: center;
      }
    }
  }
}
