.productCart {
  padding: 0.5em;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  place-items: center;
  gap: 1em;
  border: 1px solid var(--color-neutral);

  &-image {
    width: 10em;
    height: auto;
  }
}
