@use "../base/breakpoints" as *;

.productCart {
  padding: 1em;
  width: 38em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1em;

  &:hover {
    background-color: var(--color-base-200);
  }

  &-image {
    width: 8em;
    height: auto;
  }

  &-name {
    color: var(--color-neutral);
    font-size: var(--text-sm);
    font-weight: 900;
    text-align: center;
  }

  &-price {
    color: var(--color-neutral);
    font-size: var(--text-sm);
  }

  &-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    color: var(--color-neutral);
    font-size: var(--text-sm);

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: var(--color-neutral);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &-removeItem {
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: var(--color-neutral);
      font-size: var(--text-md);

      &:hover {
        color: var(--color-alert);
      }
    }
  }
}

@include breakpoint(md) {
  .productCart {
    width: 30em;
    grid-template-columns: auto auto auto auto;

    &-image {
      display: none;
    }
  }
}

@include breakpoint(sm) {
  .productCart {
    width: 20em;
  }
}

@include breakpoint(xs) {
  .productCart {
    width: 16em;
  }
}
