@use "../base/breakpoints" as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: 2em;

  &-up {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  &-carousel {
    max-width: 77%;
  }

  &-add {
    display: flex;
    flex-direction: column;
  }
}

@include breakpoint(xl) {
  .hero {
    margin-top: 1em;
    &-up {
      flex-direction: column;
    }

    &-carousel {
      max-width: 100%;
    }

    &-add {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@include breakpoint(md) {
  .hero {
    &-add {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include breakpoint(sm) {
  .hero {
    &-add {
      grid-template-columns: 1fr;
    }
  }
}
