@use "../base/breakpoints" as *;

.productsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@include breakpoint(xxl) {
  .productsLayout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include breakpoint(lg) {
  .productsLayout {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(md) {
  .productsLayout {
    grid-template-columns: 1fr;
  }
}
